/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/
/*============= NAVIGATION =============*/
/*============= CAROUSEL =============*/

/*---Change Carousel Transition Speed --*/

/*-- Carousel Content --*/


/*============= FIXED BACKGROUND IMG =============*/
/*============= TOP BAR HEADER =============*/